Flask
Flask-RESTful
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
click
colorama
greenlet
importlib-metadata
itsdangerous
memory-profiler
numpy
pandas
pip
psutil
psycopg2
python-dateutil
pytz
setuptools
six
typing-extensions
validictory
zipp